* { box-sizing: border-box; }
header, nav, main, footer { display: block; }

h1 {
	color: blue;
}

.content-area
{
	display: block;
}

@media only all and (max-width: 768px)
{
	footer
	{
		padding: 0;
	}
}
